.input {
  background-color: skyblue;
  padding: 10px 20px;
  border: none;
}

.button {
  background-color: blueviolet;
  padding: 10px 20px;
  border: none;
}
/* 
.form {
  background-color: red;
  width: 100%;
} */
