.temperatureDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempratureDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.temp {
  font-size: 32px;
  font-weight: bold;
}

.forecastContainer {
  display: flex;
  align-items: center;
}

.sunsetContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.forecastCondition {
  padding: 16px;
}
