.hourCard {
  flex: 0 0 20%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  user-select: none;
}

.forecastCondition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeText {
  font-size: 12px;
  font-weight: bold;
}

.line {
  border: 1px solid black;
}
