.cityContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 16px;
}

.city {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.city:hover {
  transform: scale(1.1);
}
