.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aquamarine;
  padding: 20px 40px;
}

.gradientHot {
  background: linear-gradient(to bottom, rgb(245, 200, 85), rgb(247, 145, 43));
}

.gradientCold {
  background: linear-gradient(
    to bottom,
    rgba(0, 150, 167, 0.828),
    rgb(25, 118, 210)
  );
}

.input {
  background-color: skyblue;
  padding: 10px 20px;
  border: none;
}

.weatherInfoContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.unitSwitchContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
