.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #588957;
  padding: 20px 40px;
  height: 100vh;
}

.gradientHot {
  background: linear-gradient(to bottom, rgb(245, 200, 85), rgb(247, 145, 43));
}

.gradientCold {
  background: linear-gradient(
    to bottom,
    rgba(0, 150, 167, 0.828),
    rgb(25, 118, 210)
  );
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
