.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: blue; */
}

.button {
  background-color: blueviolet;
  padding: 10px 20px;
  border: none;
}

.input {
  background-color: skyblue;
  padding: 10px 20px;
  border: none;
}

.weatherInfoContainer {
  /* background-color: red; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.unitSwitchContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
