.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.weatherInfoLabel {
  font-size: 12px;
}

.weatherInfoValue {
  font-weight: bold;
  font-size: 12px;
}
